{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Application Credentials" %}{% endblock %}

{% block content %}
    {{ block.super }}
    <br>
    <table class="table table-bordered table-stripped">
        <tr>
            <th>{% trans "Client ID" %}</th>
            <td>{{ object.client_id }}</td>
        </tr>
        <tr>
            <th>{% trans "Client Secret" %}</th>
            <td>{{ object.client_secret }}</td>
        </tr>
    </table>
    <fieldset>
        <legend>{% trans "Login Button" %}</legend>
        <pre>&lt;a href="http://{{ domain }}{% url "oauth2:capture" %}?client_id={{ object.client_id }}&response_type=code"&gt;Login using Minecraft&lt;/a&gt;</pre>
    </fieldset>
    <br>
    <p><a href="{% url "app:list" %}" class="btn btn-default">{% bootstrap_icon "arrow-left" %} {% trans "Return to application list" %}</a></p>
{% endblock %}
