{% extends 'base.html' %}

{% load i18n %}
{% load bootstrap3 %}
{% load avatar_tags %}

{% block title %}{% trans "Your Minecraft Accounts" %}{% endblock %}

{% block content %}
    {% if object_list %}
        <a href="{% url "minecraft:create" %}" class="btn btn-success pull-right">{% trans "Add a Minecraft Account" %}</a>
    {% endif %}
    {{ block.super }}
    {% if object_list %}
        <div class="row">
            {% for minecraft in object_list %}
            <div class="col-xs-6 col-md-3">
                <div class="thumbnail">
                    <img src="{% avatar minecraft.profile "152x152" %}">
                    <div class="caption">
                        <h3>{{ minecraft.profile }}</h3>
                        <p><a href="{% url "minecraft:delete" minecraft.pk %}" class="btn btn-xs btn-default">{% trans "Delete" %}</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning">
            {% trans "You do not have any Minecraft accounts." %}
        </div>
        <a href="{% url "minecraft:create" %}" class="btn btn-success">{% trans "Add a Minecraft Account" %}</a>
    {% endif %}
{% endblock %}
